@charset "UTF-8";
.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-wrapper {
  width: 100%;
}
.swiper .swiper-slide {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.swiper .swiper-slide img {
  max-height: 100%;
  max-width: 100%;
}
.swiper .swiper-button-next, .swiper .swiper-button-prev {
  align-items: center;
  background: rgba(46, 46, 46, 0.7);
  border-radius: 50%;
  border: 1px solid #9c8b67;
  color: #9c8b67;
  display: flex;
  height: 45px;
  justify-content: center;
  text-align: center;
  width: 45px;
}
.swiper .swiper-button-next::after, .swiper .swiper-button-prev::after {
  font-size: 1.8rem;
  font-weight: bold;
}
.swiper .swiper-button-next:active, .swiper .swiper-button-next.active, .swiper .swiper-button-prev:active, .swiper .swiper-button-prev.active {
  background: rgba(46, 46, 46, 0.9);
  border: 1px solid #c6a45b;
  color: #c6a45b;
}
.swiper .swiper-button-next.swiper-button-disabled, .swiper .swiper-button-prev.swiper-button-disabled {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiper .swiper-button-next, .swiper .swiper-button-prev {
    display: none;
  }
}

.swiper-wrap .swiper-loading {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  width: 100%;
  position: relative;
}
.swiper-wrap .swiper-loading .loading-icon {
  position: absolute;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  max-width: 150px;
}

/* -----------------
- rank -
- lotto -
----------------- */
.rank-wrap {
  background: url(".././images/bg-frame-pattern.png") center top no-repeat, url(".././images/bg-frame-pattern2.png") center bottom no-repeat, linear-gradient(90deg, rgb(151, 26, 26) 0%, rgb(18, 0, 28) 0%, rgb(10, 1, 49) 21%, rgb(2, 2, 69) 50%, rgb(6, 1, 42) 81%, rgb(10, 0, 15) 100%);
  background-size: 100% auto;
  border: solid 2px #784ca6;
  margin: 0 auto 0;
  min-height: 20rem;
  position: relative;
  margin: 0 0 100px 0;
  padding: 5px;
  position: relative;
}
@media (min-width: 460px) {
  .rank-wrap {
    margin: 0 0 160px 0;
  }
}
@media (min-width: 580px) {
  .rank-wrap {
    margin: 0 0 200px 0;
  }
}
@media (min-width: 800px) {
  .rank-wrap {
    padding: 15px 10px 20px;
  }
}

select.rank-select {
  background: #2b0841 url(".././images/icon-arrow-down.png") right center no-repeat;
  background-size: auto 98%;
  border: solid 1px #ffc600;
  border-radius: 5px;
  box-shadow: 0 0 20px #070e1f inset, 0 0 20px #070e1f inset;
  color: #fad57f;
  display: block;
  margin: 0 0 1rem 0;
  padding: 8px 0.8rem 8px;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.rank-wrap .rank-headline {
  background: rgba(63, 18, 114, 0.3);
  border: dashed 1px #736138;
  color: #feffd9;
  font-size: 0.95rem;
  line-height: 180%;
  margin: 0 auto 1rem;
  padding: 0.5rem;
}
@media (min-width: 600px) {
  .rank-wrap .rank-headline {
    font-size: 0.8rem;
  }
}
@media (min-width: 1024px) {
  .rank-wrap .rank-headline {
    font-size: 1rem;
  }
}

.rank-wrap .rank-info {
  color: #eaa136;
  font-size: 15px;
  margin: 0 auto 8px;
  width: 100%;
}

ul.rank-data {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.rank-data li {
  align-items: center;
  background: rgba(64, 12, 82, 0.8);
  border: solid 1px #640a71;
  border-radius: 4px;
  color: #ffdd7e;
  font-size: 18px;
  display: flex;
  height: 50px;
  margin: 0 0 5px;
}
ul.rank-data li div {
  text-align: center;
}
ul.rank-data li div:first-child {
  align-items: center;
  display: flex;
  font-size: 22px;
  height: 100%;
  justify-content: center;
}
ul.rank-data li div:first-child img {
  height: 100%;
  width: auto;
}

ul.rank-data li:first-child {
  background: linear-gradient(0deg, #824301 0%, #ffc42a 73%, #fffca9 96%, #704c1e 100%);
  color: #6e2c18;
  font-weight: bold;
  text-shadow: 0 1px 1px #bd9462;
  height: 40px;
}
ul.rank-data li:first-child div {
  font-size: 16px;
}

ul.rank-data li.fadeIn:nth-child(2) {
  animation-name: moveIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
@keyframes moveIn {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(3) {
  animation-name: moveIn;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
@keyframes moveIn {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(4) {
  animation-name: moveIn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes moveIn {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(5) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(6) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(7) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(8) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(9) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(10) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(11) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(12) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(13) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(14) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(15) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(16) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(17) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(18) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(19) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(20) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(21) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(22) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(23) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(24) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(25) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(26) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(27) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(28) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(29) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(30) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(31) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(32) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(33) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(34) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(35) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(36) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(37) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(38) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(39) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(40) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(41) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(42) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(43) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(44) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(45) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(46) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(47) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(48) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(49) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(50) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(51) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(52) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(53) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(54) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(55) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(56) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(57) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(58) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(59) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(60) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(61) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(62) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(63) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(64) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(65) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(66) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(67) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(68) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(69) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(70) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(71) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(72) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(73) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(74) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(75) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(76) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(77) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(78) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(79) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(80) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(81) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(82) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(83) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(84) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(85) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(86) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(87) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(88) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(89) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(90) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(91) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(92) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(93) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(94) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(95) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(96) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(97) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(98) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(99) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.rank-data li.fadeIn:nth-child(100) {
  animation: fadeIn 0.5s 0.8s ease-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul.rank-data li.no1 {
  background: linear-gradient(90deg, #23002f 10%, #581d6b, #1a0023);
  border: solid 1px #c1c100;
  color: #ffeb5c;
  margin: 0 0 8px;
}

ul.rank-data li.no2 {
  background: linear-gradient(90deg, #23002f 10%, #581d6b, #1a0023);
  border: solid 1px #9a9a9a;
  color: #ffeb5c;
  margin: 0 0 8px;
}

ul.rank-data li.no3 {
  background: linear-gradient(90deg, #23002f 10%, #581d6b, #1a0023);
  border: solid 1px #bd8800;
  color: #ffeb5c;
  margin: 0 0 8px;
}

ul.rank-data li div:first-child {
  width: 16%;
}
ul.rank-data li div:nth-child(2), ul.rank-data li div:nth-child(3) {
  width: 42%;
}

.data-empty {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  padding: 3% 0;
  text-align: center;
}

* {
  color: #fff;
  font-family: "Source Sans Pro", 微軟正黑體, 新細明體, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
}

html body {
  padding: 0;
  margin: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

section {
  padding: 0 0 12px 0;
}

.disabled {
  display: none !important;
}

.wrap {
  background-size: 10px 10px, 100%;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 75%, transparent 75%, transparent), linear-gradient(180deg, #151515 0%, #0c0c0c 100%);
  height: 100%;
  padding: 70px 0 85px;
  position: relative;
  margin: 0 auto;
  max-width: 768px;
}
.wrap.isNotAppInit {
  display: none;
}

.header-wrap {
  background: #111111;
  display: inline-flex;
  height: 70px;
  top: 0;
  justify-content: space-between;
  padding: 0;
  position: fixed;
  max-width: 768px;
  margin: 0;
  width: 100%;
  z-index: 99999;
}
.header-wrap::before {
  background-image: linear-gradient(45deg, #bd935e, #fcedb8, #bd935e, #fcedb8, #7b5d32);
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.header-wrap .logo {
  margin: auto 5px;
}
.header-wrap .logo img {
  height: 100%;
  max-height: 55px;
}
.header-wrap .lang-wrap {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: auto;
}
.header-wrap .lang-wrap .lang-btn {
  cursor: pointer;
  align-items: center;
  background: linear-gradient(180deg, #e5cc81, #674f2d);
  border: 1px solid #777043;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  text-shadow: 0 0 3px #2e2919;
  padding: 8px 10px;
  position: relative;
  margin: auto 5px;
  height: 25px;
  width: 75px;
}
.header-wrap .lang-wrap .lang-btn span {
  font-weight: bold;
  text-align: left;
}
.header-wrap .lang-wrap .lang-btn span.img {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 3px;
  width: 40px;
}
.header-wrap .lang-wrap .lang-btn span.img img {
  filter: saturate(0.5);
  height: auto;
  width: 100%;
}
.header-wrap .lang-wrap .lang-btn:hover, .header-wrap .lang-wrap .lang-btn.active, .header-wrap .lang-wrap .lang-btn:active {
  background: linear-gradient(180deg, #f8e2a0, #d3c67b);
}
.header-wrap .lang-wrap .lang-btn:hover span.img, .header-wrap .lang-wrap .lang-btn.active span.img, .header-wrap .lang-wrap .lang-btn:active span.img {
  filter: saturate(0.2);
}
.header-wrap .lang-wrap ul.lang-list {
  align-items: center;
  background: #111111;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  padding: 0;
  position: absolute;
  margin: 0;
}
.header-wrap .lang-wrap ul.lang-list li {
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 10px;
  font-weight: bold;
  text-align: center;
  height: 25px;
  width: 75px;
}
.header-wrap .lang-wrap ul.lang-list li:hover {
  background: #313131;
}

.footer-wrap {
  background: #111111;
  bottom: 0;
  box-shadow: 0 -10px 10px 0px rgba(0, 0, 0, 0.6);
  height: 85px;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0;
  position: fixed;
  max-width: 768px;
  width: 100%;
  z-index: 99999;
}
.footer-wrap::before {
  background-image: linear-gradient(45deg, #bd935e, #fcedb8, #bd935e, #fcedb8, #7b5d32);
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  width: 100%;
}
.footer-wrap .menu-wrap {
  align-items: flex-end;
  display: inline-flex;
  height: 100%;
  justify-items: center;
  position: relative;
  width: 100%;
}
.footer-wrap .menu-wrap div {
  cursor: pointer;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 17%;
}
.footer-wrap .menu-wrap div a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.footer-wrap .menu-wrap div a img {
  height: auto;
  max-height: 85px;
  max-width: 90px;
  width: 90%;
}
.footer-wrap .menu-wrap div:hover a img, .footer-wrap .menu-wrap div.active a img, .footer-wrap .menu-wrap div:active a img {
  filter: brightness(1.2);
}
.footer-wrap .menu-wrap div.main-download {
  display: block;
  bottom: 0;
  position: relative;
  width: 32%;
}
.footer-wrap .menu-wrap div.main-download a {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
.footer-wrap .menu-wrap div.main-download a img {
  height: auto;
  max-height: unset;
  max-width: unset;
  width: 100%;
}
.footer-wrap .menu-wrap div.main-download:hover a img, .footer-wrap .menu-wrap div.main-download.active a img, .footer-wrap .menu-wrap div.main-download:active a img {
  filter: brightness(1.2);
}

.download-wrap {
  margin: 8% 0;
}
.download-wrap .download-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.download-wrap .download-btn .download {
  width: 90%;
}
.download-wrap .download-btn .download a {
  cursor: pointer;
}
.download-wrap .download-btn .download img {
  height: auto;
  width: 100%;
}
.download-wrap .download-btn .download:hover img {
  filter: brightness(1.2);
}
.download-wrap .award-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px auto auto auto;
  width: 100%;
}
.download-wrap .award-content .award {
  width: 90%;
}
.download-wrap .award-content .award img {
  height: auto;
  width: 100%;
}
@media (min-width: 340px) {
  .download-wrap .award-content {
    flex-wrap: nowrap;
  }
  .download-wrap .award-content .award {
    width: 48%;
  }
}

.tutorial-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 100%;
}
.tutorial-wrap .tutorial-ul {
  background: linear-gradient(to bottom, transparent 0%, rgba(169, 157, 111, 0.7) 3%, rgba(169, 157, 111, 0.7) 97%, transparent 100%);
  width: 100%;
}
.tutorial-wrap .tutorial-ul ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tutorial-wrap .tutorial-ul ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tutorial-wrap .tutorial-ul ul li.title {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: flex-start;
  margin-bottom: 10px;
  text-align: left;
}
.tutorial-wrap .tutorial-ul ul li.title .img {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  margin-right: 10px;
  width: 40px;
}
.tutorial-wrap .tutorial-ul ul li.title .img img {
  filter: invert(1);
  height: auto;
  transform: rotate(348deg);
  width: 100%;
}
.tutorial-wrap .tutorial-ul ul li.title span {
  text-shadow: 0 0 5px #000;
}
.tutorial-wrap .tutorial-ul ul li.text {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: left;
  text-shadow: 0 0 3px #000;
  padding: 0 0 10px 15px;
}
.tutorial-wrap .tutorial-ul ul li.pic {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.tutorial-wrap .tutorial-ul ul li.pic img {
  height: auto;
  width: calc(100% - 30px);
}

.channels-wrap {
  align-items: center;
  background: linear-gradient(to top, #474747, transparent);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 120px;
  width: 100%;
}
.channels-wrap ul, .channels-wrap li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.channels-wrap ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.channels-wrap li {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  margin: 5px auto;
  width: 30%;
}
.channels-wrap li img {
  height: auto;
  width: 60%;
}

/*# sourceMappingURL=style.css.map */
