<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="css/style.css">
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.prod.js"></script> -->
  <!-- <script src="https://unpkg.com/vue-i18n@9.2.2/dist/vue-i18n.global.prod.js"></script> -->
  <script src="js/vue.global.prod.js"></script>
  <script src="js/vue-i18n.global.prod.js"></script>
  <script src="js/crypto.min.js"></script>
  <script src="js/sha.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue-scrollto.js"></script>

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body>
  <div id="app" class="wrap isNotAppInit">

    <section class="header-wrap">
      <div class="logo">
        <img src="./images/login-logo.png" alt>
      </div>
      <div class="lang-wrap">
        <div class="lang-btn" @click="clickLangSelector()">
          <span>{{ renderLang(currentLanguage) }}</span>
          <span class="img">
            <img src="./images/icon-arrow-down.png" alt="">
          </span>
        </div>
        <ul class="lang-list" :class="{'disabled': langSelector === false}">
          <li v-for="(list, index) in langList" :key="index" @click="changeLanguage(list.params)" :class="{active: list.params === currentLanguage}">
            {{ list.lang }}
          </li>
        </ul>
      </div>
    </section>

    <section class="footer-wrap">
      <div class="menu-wrap">
        <div>
          <a href="https://www.facebook.com/JinJinJinCasino" target="_blank">
            <img :src="`./images/footer_menu_btn_01_${$i18n.locale}.png`" alt />
          </a>
        </div>
        <div>
          <a :href="`https://my.super9999.com/customer/contactus?type=byEmail&lang=${$i18n.locale}`" target="_blank">
            <img :src="`./images/footer_menu_btn_02_${$i18n.locale}.png`" alt="">
          </a>
        </div>
        <div class="main-download">
          <a href="http://dl.super9999.com/APK_Download/JinJinJinCasino.apk">
            <img :src="`./images/footer_download_btn_${$i18n.locale}.png`" alt="">
          </a>
        </div>
        <div>
          <a @click="scrollToElement('#tutorial', -80)">
            <img :src="`./images/footer_menu_btn_03_${$i18n.locale}.png`" alt="">
          </a>
        </div>
        <div>
          <a @click="scrollToElement('#channles', -80)">
            <img :src="`./images/footer_menu_btn_04_${$i18n.locale}.png`" alt="">
          </a>
        </div>
      </div>
    </section>

    <section class="swiper-wrap">
      <div v-if="bannerCount === 0" class="swiper-loading">
        <div class="loading-icon"></div>
      </div>
      <div v-else class="swiper">
        <div class="swiper-wrapper">
          <div v-for="(pic, i) in bannerCount" class="swiper-slide">
            <img :src="`images/banner_0${i + 1}-${$i18n.locale}.jpg`" alt="">
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>

    <section class="download-wrap">
      <div class="download-btn">
        <div class="award">
          <img :src='`./images/overdownload_${$i18n.locale}.png`' />
        </div>
        <div class="download">
          <a href="http://dl.super9999.com/APK_Download/JinJinJinCasino.apk">
            <img :src='`./images/button-Download_${$i18n.locale}.png`' />
          </a>
        </div>
        <div class="award">
          <img :src='`./images/rankone_${$i18n.locale}.png`' />
        </div>
      </div>
    </section>

    <section id="tutorial" class="tutorial-wrap">
      <div class="tutorial-ul">
        <ul>
          <li class="title">
            <div class="img">
              <img src="./images/gem.png" alt="">
            </div>
            <span>{{ $t('howToDownload') }}</span>
          </li>
          <li class="text">{{ $t('tutorial.step1') }}</li>
          <li class="pic">
            <img :src="`./images/tutorial-${$i18n.locale}-P1.png`" alt="">
          </li>
          <li class="text">{{ $t('tutorial.step2') }}</li>
          <li class="pic">
            <img :src="`./images/tutorial-${$i18n.locale}-P2.png`" alt="">
          </li>
          <li class="text">{{ $t('tutorial.step3') }}</li>
          <li class="pic">
            <img :src="`./images/tutorial-${$i18n.locale}-P3.png`" alt="">
          </li>
          <li class="text">{{ $t('tutorial.step4') }}</li>
          <li class="pic">
            <img :src="`./images/tutorial-${$i18n.locale}-P4.png`" alt="">
          </li>
        </ul>
      </div>
    </section>

    <section id="channles" class="channels-wrap">
      <ul>
        <li v-for="(pic, i) in 19">
          <img :src="`./images/channle_${i}.png`" alt="">
        </li>
      </ul>
    </section>
  </div>

  <script type="module">
    import arkClient from './js/client.js';
    import messages from './js/i18n.js';
    import { FormatDate, thousandComma } from './js/tools.js';

    const { createApp } = Vue;
    const { createI18n } = window.VueI18n;

    const i18n = createI18n({
      legacy: false,
      locale: 'en',
      messages
    });

    const app = createApp({
      data() {
        return {
          host: 'https://tapirus-alt.jinjinjin777.com',
          port: '443',
          ArkKey: '',
          langList: [
            { params: 'zh_Hans', lang: '简中' },
            { params: 'en', lang: 'English' }
          ],
          rankData: [],
          rankList: [],
          currentId: '',
          fadeIn: false,
          bannerCount: 0,
          swiper: null,
          langSelector: false,
        }
      },
      computed: {
        currentLanguage() {
          return this.$i18n.locale;
        },
        computedRankInfo() {
          let data = this.rankData.map((item, index) => {
            item.start_time = FormatDate(item.start_time, 'ymdhm')
            item.end_time = FormatDate(item.end_time, 'ymdhm')
            return item
          })
          return data
        },
        computedRankList() {
          let data = this.rankList.map((item, index) => {
            item.score = thousandComma(item.score)
            return item
          })
          return data
        }
      },
      watch: {
        currentLanguage() {
          // this.getRankInfo()
        }
      },
      created() {
        document.getElementById('app').classList.remove('isNotAppInit') // remove loading
      },
      async mounted() {
        await this.checkUrlLang()
        await this.calculateBannerCount()
        this.initSwiper()
      },
      methods: {
        async getRankInfo() {
          let data = {
            cmd_id: 'ranking',
            cmd_name: 'GET_EVENT_RANKING_LIST',
            cmd_data: {
              lang: this.$i18n.locale
            }
          }
          try {
            let response = await arkClient.SendDirect(data)
            console.log('getRank: ', response)
            if (response.code === 0) {
              let respData = response.msg
              if (respData.status.id === 0) {
                this.rankData = respData.data.event
                if (respData.data.event.length > 0) {
                  this.currentId = respData.data.event[0].rank_id
                  this.getRankList()
                }
              }
            } else {
              console.log('getRankInfo error: ', response)
            }
          } catch (error) {
            console.log('getRankInfo error: ', error)
          }
        },
        async getRankList() {
            let cmd = {
              cmd_id: 'ranking',
              cmd_name: 'GET_GLOBAL_RANK',
              cmd_data: {
                ranking_id: this.currentId
              }
            }
            let response = await arkClient.SendDirect(cmd)
            console.log('getRankList: ', response)
            if (response.code === 0) {
              let respData = response.msg
              if (respData.status.id === 0) {
                this.rankList = respData.data.rank_list
                await (this.fadeIn = true)
              } else {
                console.log('getRankList error: ', respData.status.msg)
              }
            } else {
              console.log('getRankList error: ', response)
            }
        },
        arkClient,
        initSwiper() {
          this.swiper = new Swiper('.swiper', {
            speed: 800,
            spaceBetween: 30,
            slidesPerView: 'auto',
            direction: 'horizontal',
            grabCursor: true,
            keyboard: true,
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
            loop: true,
            autoplay: {
              delay: 3000,
              disableOnInteraction: false,
            },
          })
        },
        checkImageExists(src) {
          const img = new Promise((resolve) => {
            const img = new Image();
            img.onload = () => resolve(true);
            img.onerror = () => resolve(false);
            img.src = src;
          });
                    
          return img
        },
        async calculateBannerCount() {
          const locale = this.$i18n.locale;
          let count = 0;
          while (true) {
            const exists = await this.checkImageExists(`images/banner_0${count + 1}-${locale}.jpg`);
            if (exists) {
              count++;
            } else {
              break;
            }
          }
          this.bannerCount = count;
        },
        async rankChange() {
          this.getRankList()
          this.fadeIn = false
        },
        changeLanguage(lang) {
          this.$i18n.locale = lang
          this.langSelector = false
        },
        checkUrlLang() {
          const urlParams = new URLSearchParams(window.location.search)
          let lang = urlParams.get('lang') || 'en';
          if (lang === 'zh') {
            lang = 'zh_Hans'
          }
          this.changeLanguage(lang)
        },
        clickLangSelector() {
          this.langSelector = !this.langSelector
        },
        scrollToElement(sectionId, offset = -50) {
          this.$scrollTo(sectionId, {
            duration: 500,
            offset: offset,
            easing: 'ease-in',
          });
        },
        downloadAPK() {
          const url = "http://dl.super9999.com/APK_Download/JinJinJinCasino.apk"
          window.location.href = url
        },
        // render
        renderLang(lang) {
          return lang === 'zh_Hans' ? '简中' : 'English'
        }
      }
    });

    app.use(i18n);
    app.use(VueScrollTo);
    app.mount('#app');
  </script>
</body>
</html>
